:root {
  --primary-color: #b1d7b4;
  --heading-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-bottom: 80px;
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background-color: #95979c;
  border-radius: 20px;
}

.selfie {
  max-width: 300px;
  border-radius: 15px;
  margin-top: 30px;
}

.about-hero h1 {
  font-size: 34px;
  line-height: 60px;
}
