:root {
  --primary-color: #b1d7b4;
  --heading-font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(13, 13, 14);
  font-family: var(--heading-font-family);
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 80px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
