:root {
  --primary-color: #b1d7b4;
  --heading-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

body {
  margin: 2px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-bottom: 80px;
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background-color: #a7b8e3;
  border-radius: 20px;
}


.btn-branding2 {
  background-color: #cedacf;
  border-radius: 20px;
  padding: 20px;
}
.selfie {
  max-width: 400px;
  border-radius: 15px;
  padding: 30px 10px;
}

.about-hero h1 {
  font-size: 34px;
  line-height: 60px;
}

.content {
  display: flex;
  margin: 30px 0;
}

.about-section-content p {
  text-align: center;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}


.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding 0 4px;
}

.column{
  flex: 33%;
  padding 0 4px;
}

.email{
  text-decoration: none;
  font-family: var(--secondary-font-family)
}

.email:hover{
    color:#DD2A7B;
}

.contact{
  text-align: center;
}
.media{
  font-size: 35px;
  padding: 40px
  }

  .media1:{
    color:black;
  }